<div class="container">
  <h3>Users Details</h3>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <a href="/admin/users"> 🔙 Back to the list</a>
        <div>
          <h1>{{user.email}}</h1>
          <div>
            <h3>Name:</h3>
            <h4>{{user.firstName}}</h4>
            <h3>Last name:</h3>
            <h4>{{user.lastName}}</h4>
            <h3>Phone number:</h3>
            <h4>{{user.phone}}</h4>
            <h3>Educational level:</h3>
            <h3>Age:</h3>
            <h4>{{user.age}}</h4>
            <h4>{{user.educativeLevel}}</h4>
            <h3>Role:</h3>
            <h4>{{user.role}}</h4>
            {{#if courses}}
              <h3>Enrollments:</h3>
              <ul>
                {{#each courses}}
                  <li>{{this.name}}</li>
                {{/each}}
              </ul>
            {{/if}}
            <h3>User created at:</h3>
            <h4>{{fechaC}}</h4>
            <h3>User updated at:</h3>
            <h4>{{fechaU}}</h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>