<div class="container">
  <h3>Users Details</h3>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <a href="/admin/users"> 🔙 Back to the list</a>
        <div>
          <h1>{{this.email}}</h1>
          <div>
            <h3>Name:</h3>
            <h4>{{this.firstName}}</h4>
            <h3>Last name:</h3>
            <h4>{{this.lastName}}</h4>
            <h3>Phone number:</h3>
            <h4>{{this.phone}}</h4>
            <h3>Educational level:</h3>
            <h3>Age:</h3>
            <h4>{{this.age}}</h4>
            <h4>{{this.educativeLevel}}</h4>
            <h3>Role:</h3>
            <h4>{{this.role}}</h4>
            <h3>Enrollments:</h3>
            <h4>{{this.enrolments}}</h4>
            <h3>User created at:</h3>
            <h4>{{this.fechaC}}</h4>
            <h3>User updated at:</h3>
            <h4>{{this.fechaU}}</h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>