<div class="container">
<h3>Contents</h3>

<div id=" searchbar">

  <form action="/teacher/content/list" method="get">
    <button class="btn btn-info" type="submit">Search</button>
 <a href="/teacher/content/create"><button class="btn btn-success" type="button"><i class="bi bi-plus"></i></button> </i></a>
    <input
      class="form-control"
      type="text"
      name="name"
      value="{{this.lastQuery}}"
    />
    <select class="form-select form-select-lg mb-3" name="contentType">
      <option value="jpeg">jpeg</option>
      <option value="jpg">jpg</option>
      <option value="pdf">pdf</option>
      <option value="png">png</option>
      <option selected value="">All</option>
    </select>
  </form>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each arrContents}}
    <div class="col">
      <div class="card">
            <embed src="{{this.contentData}}" width="100%" height="364px" />
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.description}}</p>
              <p><img
                  src="/images/{{this.contentType}}.png"
                  width="20px"
                  height="20px"
                />
                <a href="{{this.contentData}}" download>{{this.name}}</a></p>
        </div>
        <p>
          <a href="/content/{{this._id}}/view"><button
              class="btn btn-primary"
            >View content</button></a>
        </p>

        <div>
          <button
            type="submit"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#delete-enrolments{{this._id}}"
          ><i class="bi bi-plus"></i> Add to course</button>

          <div class="container">
            <div id="delete-enrolments{{this._id}}" class="modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">
                      At witch course must be added to?
                    </h5>
                  </div>
                  <div class="modal-body">
                    <form action="/teacher/content/addToCourse" method="post">
                    
                      <input
                        type="text"
                        name="idContent"
                        style="visibility: collapse;"
                        value="{{this._id}}"
                      />
                      <select
                        class="form-select form-select-lg mb-3"
                        name="idCourse"
                      >    
                        {{#each ../arrCourses}}
                          <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                      </select>

                      <a href=""><button
                          type="submit"
                          class="btn btn-primary separed"
                        >Add</button></a></form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        {{!-- <p>
          <a href="/content/{{this._id}}/view"><button
              class="btn btn-outline-primary"
            >Add to course</button></a>
        </p> --}}
      </div>          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <a href="/content/{{this._id}}/edit">
              <button type="button" class="btn btn-warning"><i
                  class="bi bi-gear"
                ></i>
              </button></a>
                       <button
              type="submit"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete-content{{this._id}}"
            ><i class="bi bi-trash"></i></button>
            <div class="container">
              <div id="delete-content{{this._id}}" class="modal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">
                        Are you sure you want to delete this content?
                      </h5>
                    </div>
                    <div class="modal-body">
                      <form method="post" action="/content/{{this._id}}/delete">

                        <button type="submit" class="btn btn-danger"><i
                            class="bi bi-trash"
                          ></i>Delete content</button></form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    
  {{/each}}
</div>
</div>