<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href=""><h3
        >{{oneContent.name}}</h3></a></li>
  </ul>
  <p>
    {{#if course}}
      <p>
        <a href="/course/{{course}}/view"><button
            class="btn btn-outline-primary"
          >Back to the course</button></a>
      </p>
    {{else}}
      <p>
        <a href="/teacher/content/list"><button
            class="btn btn-outline-primary"
          >Back to the list</button></a>
      </p>
    {{/if}}
  </p>
  <div class="row row-cols-1 row-cols-md-1 g-12">
    <div class="col">
      <div class="card">
        <embed src="{{oneContent.contentData}}" width="100%" height="768px" />
        <div class="card-body">
          <h5 class="card-title">{{oneContent.name}}</h5>
          <p class="card-text">{{oneContent.description}}</p>
          <p><img
              src="/images/{{oneContent.contentType}}.png"
              width="20px"
              height="20px"
            />
            <a
              href="{{oneContent.contentData}}"
              download
            >{{oneContent.name}}</a></p>
        </div>
      </div>

      {{#unless isStudentSession}}
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <a href="/content/{{oneContent._id}}/edit">
            <button type="button" class="btn btn-warning"><i
                class="bi bi-gear"
              ></i>
            </button></a>

          <button
            type="submit"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#delete-content{{oneContent._id}}"
          ><i class="bi bi-trash"></i></button>
          <div class="container">
            <div
              id="delete-content{{oneContent._id}}"
              class="modal"
              tabindex="-1"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">
                      Are you sure you want to delete this content?
                    </h5>
                  </div>
                  <div class="modal-body">
                    <form
                      method="post"
                      action="/content/{{oneContent._id}}/delete"
                    >

                      <button type="submit" class="btn btn-danger"><i
                          class="bi bi-trash"
                        ></i>Delete content</button></form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/unless}}
    </div>
  </div>
</div>