<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{oneContent.name}}</a>
  <!-- Add additional navigation elements here -->
</nav>
<p>
  <a href="/course/{{course}}/view"><button class="btn btn-outline-primary">Back
      to the course</button></a>
</p>
<div class="row row-cols-1 row-cols-md-1 g-12">
  <div class="col">
    <div class="card">
      <a
        href="{{oneContent.contentData}}"
        download
      >{{oneContent.name}}.{{oneContent.contentType}}</a>
      <div class="card-body">
        <h5 class="card-title">{{oneContent.name}}</h5>
        <p class="card-text">{{oneContent.description}}</p>
        <p><embed
            src="{{oneContent.contentData}}"
            name="contentData"
            type="application/pdf"
            height="768px"
            width="100%"
          /></p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <a href="/content/{{oneContent._id}}/edit">
            <button type="button" class="btn btn-outline-primary"><i
                class="bi bi-gear"
              ></i>
            </button></a>
          <form method="post" action="/content/{{oneContent._id}}/delete">
            <a href="">
              <button type="submit" class="btn btn-outline-primary"><i
                  class="bi bi-trash"
                ></i></button></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>