<div class="container">
  <h3>Enrollment details:</h3>
  <ul>
    <li><h4>{{this.roleInCourse}}:</h4></li>
    <h5>{{this.userId.lastName}}, {{this.userId.firstName}}</h5>
    <li><h4>course:</h4></li>
    <h5>{{this.courseId.name}}</h5>
    <li><h4>status:</h4></li>
    <h5>{{this.status}}</h5>
    <li><h4>created at:</h4></li>
    <h5>{{this.createdAt}}</h5>
    <li><h4>updated at:</h4></li>
    <h5>{{this.updatedAt}}</h5>
  </ul>

</div>