<div class="container">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{oneCourse.name}}</a>
    <!-- Add additional navigation elements here -->
  </nav>
  <p>
    <a href="/content/{{oneCourse._id}}/add"><button
        type="button"
        class="btn btn-success"
      >Add Contents</button>
    </a>
    <a href="/teacher/courses/{{oneCourse._id}}/enrollments"><button
        type="button"
        class="btn btn-success"
      >Enrolments</button>
    </a></p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each content}}
      <div class="col">
        <div class="card">
          <a href="{{this.contentData}}">{{this.name}}.{{this.contentType}}</a>
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p><embed
                src="{{this.contentData}}"
                type="application/pdf"
                height="300px"
                width="60%"
              /></p>

            <div
              class="btn-group"
              role="group"
              aria-label="Basic outlined example"
            >
              <a href="/content/{{this._id}}/edit">
                <button type="button" class="btn btn-outline-primary"><i
                    class="bi bi-gear"
                  ></i>
                </button></a>
              <form method="post" action="/content/{{this._id}}/delete">
                <a href="">
                  <button type="submit" class="btn btn-outline-primary"><i
                      class="bi bi-trash"
                    ></i></button></a>
              </form>
            </div>
          </div>
          <p>
            <a href="/content/{{this._id}}/view"><button
                class="btn btn-outline-primary"
              >View content</button></a>
          </p>
        </div>
      </div>
    {{/each}}
  </div>
</div>